html {
    font-family: Arial, sans-serif;
    font-weight: 100;
    color: #101010;
}

body {
    padding: 0.5rem;
    background-color: #dddddd;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding: 0.25rem;
    border: 0.2rem white solid;
    border-radius: 0.5rem;
    background-color: #e0e0e0;
    text-align: center;
    font-weight: 800;
}

#domainDetails {
    font-size: 1.25rem;
    border-top: 0.2rem white solid;
    border-bottom: 0.2rem white solid;
    padding: 0.25rem 0;
}

#domainDetails::after {
    content: "";
    clear: both;
    display: table;
}

.domainDetails-name-label {
    font-weight: 600;
    display: block;
    float: left;
    width: 20%;
}

.domainDetails-name-value {
    display: block;
    margin-left: 20%;
}

#newRecordSelector {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0.2rem white solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#newRecordSelector > h2 {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 0.5rem 0.5rem 0.5rem;
    border-bottom: 0.2rem white solid;
    margin-bottom: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

#newRecordSelector-form label::after {
    content: "";
    clear: both;
    display: table;
}

#newRecordSelector-form label div.form-label {
    width: 20%;
    float: left;
}

#newRecordSelector-form label div.form-element {
    margin-left: 20%;
}

#recordsWrapping {
    border: 0.2rem white solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#recordsWrapping > h2 {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 0.5rem 0.5rem 0.5rem;
    border-bottom: 0.2rem white solid;
    margin-bottom: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

#records .record:not(:last-child) {
    border-bottom: 0.2rem white solid;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

.record form label .record-label {
    width: 20%;
    float: left;
    padding: 0.4rem 0;
}

.record form label .record-value,
.record form label .record-value-wrap {
    padding: 0.1rem 0;
    margin-left: 20%;
}

.record form label .record-value {
    padding: 0.4rem 0;
}

.record form label .record-value-wrap input {
    display: inline-block;
    width: calc(100% - 1rem);
}

.record form label::after {
    content: "";
    clear: both;
    display: table;
}

.record form ul {
    margin-left: 20%;
    list-style-type: none;
    margin-bottom: 0.5rem;
}

.record form ul li {
    border: 0.1rem red solid;
    color: red;
    border-radius: 0.2rem;
    padding: 0.2rem;
    width: calc(100% - 1.6rem);
}

.record form ul li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.record form .record-buttons {
    margin-left: 20%;
}

.record form .record-buttons button:not(:last-child) {
    margin-right: 0.75rem;
}

#newRecord .record {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 0.2rem white solid;
}

input {
    border: 0.1rem black solid;
    border-radius: 0.2rem;
    padding: 0.2rem;
}

.record-value-error input {
    border-color: red;
    color: red;
}

button {
    border: 0.15rem black solid;
    border-radius: 0.25rem;
    padding: 0.25rem 1.25rem;
}

@media screen and (max-width: 780px) {
    .domainDetails-name-label {
        width: 30%;
    }

    .domainDetails-name-value {
        margin-left: 30%;
    }

    #newRecordSelector-form label div.form-label {
        width: 30%;
    }

    #newRecordSelector-form label div.form-element {
        margin-left: 30%;
    }

    .record form label .record-label {
        width: 30%;
    }

    .record form label .record-value,
    .record form label .record-value-wrap {
        margin-left: 30%;
    }

    .record form ul {
        margin-left: 30%;
    }

    .record form .record-buttons {
        margin-left: 30%;
    }
}

@media screen and (max-width: 530px) {
    .domainDetails-name-label {
        width: 40%;
    }

    .domainDetails-name-value {
        margin-left: 40%;
    }

    #newRecordSelector-form label div.form-label {
        width: 40%;
    }

    #newRecordSelector-form label div.form-element {
        margin-left: 40%;
    }

    .record form label .record-label {
        width: 40%;
    }

    .record form label .record-value,
    .record form label .record-value-wrap {
        margin-left: 40%;
    }

    .record form ul {
        margin-left: 40%;
    }

    .record form .record-buttons {
        margin-left: 40%;
    }
}
